* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #292e33;
    background-size: cover;
    color: wheat;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: 1;
}

.registration-form h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
    color: #12f7ff;
}

.registration-form p {
    font-size: 20px;
    margin: 15px 0;
    color: #12f7ff;
}

.registration-form input {
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.registration-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 30%;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    margin-left: 35%;
}

.registration-form button:hover {
    color: red;
}